################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FetchXmlBuilder/bin/Debug
/FetchXmlBuilder/obj/Debug
*.user
/XmlEditorUtils/bin/Debug
/XmlEditorUtils/obj/Debug
*.suo
/FetchXmlBuilder/bin/Release
/FetchXmlBuilder/obj/Release/TempPE
/FetchXmlBuilder/obj/Release
/Samples
/XmlEditorUtils/bin/Release
/XmlEditorUtils/obj/Release
